.row {
  width: 100%;
  display: flex;

  &.full-height {
    height: 100vh;
  }

  .nav-width {
    width:260px;
    height: 100%;
    position: fixed;
  }
  .nav-body {
    margin-left: 260px;
  }
  .one-half {
    width: 50%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: baseline;
  }
  .one-third {
    width: 33%;
    display: inline-block;
  }
}