.navbar {
  background-color: $primary-purple-light;
  color: white;
  height: 100%;
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: last-line;
  
  .nav-title {
    background-color: $primary-purple;
    font-size: 21px;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 4.2px;
  }

  .nav-list {
    list-style: none;

    .nav-link {
      display: block;
      text-decoration: none;
      color: $white-text;
      padding: 18px;
      border-left: 5px solid transparent;

      &.is-active, &:hover {
        background-color: $primary-purple;
        border-left: 5px solid $purple-light;
      }
    }
  }
}