@import './_reset.scss';
@import './_variables.scss';
@import './_grid.scss';
@import './_login.scss';
@import './_navbar.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-purple;
}

h1 {
  font-size: 48px;
}