@import './_reset.scss';
@import './_variables.scss';
@import './_grid.scss';
@import './_login.scss';
@import './_navbar.scss';
@import './_infobar.scss';
@import './form.scss';

body {
  font-family: Helvetica, sans-serif;
  color: $primary-purple;
}

.content {
  background-color: #F0F0F7;
}

.main-title {
  font-size: 35px;
  letter-spacing: 7px;
  font-weight: bold;
  margin: 15px;
}

.full-width {
  width: 100%;
}

.button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  &--primary {
    background-color: $primary-purple-light;
    color: $white-text;
  }
}